/* Drill 1 - Write your code solution below */
.d1-container{
    border: 3px solid black;
}

/* Drill 2 - Write your code solution below */
#d2-p1{
    border: 12px dotted red;
}
#d2-p2{
    border: 5px dashed green;
}
/* Drill 3 - Write your code solution below */
#d3-h2-1{
    border-bottom: 2.5px solid black;
}


/* Drill 4 - Write your code solution below */



/* Drill 5 - Write your code solution below */



/* Drill 6 - Write your code solution below */



/* Drill 7 - Write your code solution below */

