/*
    NOTE TO STUDENTS: 

    This is the file you should be writing your CSS in 
    for the assignment.

    Good luck, and have fun!
*/
#frame-1 {
    border: 10px outset lavender;
    margin: 50px 20px;
    box-shadow:5px 5px 10px grey ;
}
#frame-1 div {
    background-color: #F5F5F5;
    padding: 12px;
    border: 5px solid lightgoldenrodyellow;
    box-shadow: inset -1 1px 2px grey;
}
#frame-1 img {
    width: 80px;
    display: block;
}
#frame-2 {
    border: 10px outset #c71585;
    margin: 20px 20px;
    box-shadow: 5px 5px 10px grey;
}
#frame-2 div {
    background-color: #F5F5F5;
    padding: 24px;
    border: 5px solid lightcoral;
}
#frame-2 img {
    width:100% ;
    display: block;
}
#frame-4 {
    border: 10px outset white;
    margin: 24px 10px;
    box-shadow:5px 5px 10px grey;
}
#frame-4 div {
    background-color:lightgrey;
    padding: 8px;
}
#text-4 {
    color: black;
    font-family: 'Courier New', Courier, monospace ;
    line-height: 2px;
}
#colors {
    color: #c71585;
}
#frame-3 {
    border: 10px outset #7b68ee;
    margin: 50px 20px;
    box-shadow: 5px 5px 10px grey;
}
#frame-3 div {
    background-color: #F5F5F5;
    padding: 12px;
    border: 5px solid #ee82ee;
    box-shadow: inset 0px 0px 5px grey;
}
#frame-3 img {
    width: 80px;
    display: block;
}
